
.buttons{
  width: 80px;
  height: 20px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
 
}

.button-container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap: 10px;
  margin: 40vh 0px 20vh 80vh;
  justify-self: start;
  height: 0px;
  width: 0px;
}

.wrapper{
  display : flex;
  grid-template-columns: repeat(3 , 20px);
  grid-gap: 8px;
  /* margin-left: 10vh; */
  margin: -10vh 0px 0vh 80vh; 
  /* margin-left: 80vh; */
  
}
.Power{
  margin-top: 15px;
}
.Strict{
  margin-top: 15px;
}
.controls{
  margin: -3vh 0px 0px 88vh;
}
.counter{
  background-color:lightgray;
  height:5vh;
  width:10vh;
  text-align: center;
  padding-top: 15px;
  /* margin-left: -15vh; */
}