body{
  background-color: #191970;
}
.buttons{
  width: 80px;
  height: 20px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 10px;
  
 
}

.button-container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap: 10px;
  margin: 40vh 0px 20vh 80vh;
  justify-self: start;
  height: 0px;
  width: 0px;
}

.wrapper{
  display : flex;
  grid-template-columns: repeat(3 , 20px);
  grid-gap: 8px;
  /* margin-left: 10vh; */
  margin: -10vh 0px 0vh 80vh; 
  /* margin-left: 80vh; */
  
}
.Power{
  margin-top: 15px;
  font-family: 'Rokkitt', serif;
  color:white;
}
.Strict{
  margin-top: 15px;
  color:white;
}
.controls{
  margin: 0px 0px 0px 88vh;
}
.counter{
  background-color:lightgray;
  height:5vh;
  width:10vh;
  text-align: center;
  padding-top: 15px;
  /* margin-left: -15vh; */
}
#header{
  background: red;
    background: -webkit-linear-gradient(left, orange , yellow, rgb(170, 31, 6), cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, rgb(236, 221, 7), cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, rgb(240, 33, 18), cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, rgb(248, 30, 15), cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}